@use'../../styles/variables' as *;


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalSpace {
    background-color: #fff;
    border-radius: 20px;
    width: 90vw;
    max-width: 800px;
    max-height: 90vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.modalButtonWrapper {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalButton {
    width: 100%;
    max-width: 300px;
    padding: 0.6rem;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ddd;
    }
}

@media (max-width: 480px) {
    .modalButton {
        font-size: 14px;
    }
}