@font-face {
    font-family: "GreatVibes";
    src: url("../fonts/GreatVibes-Regular.woff2") format("woff2");
    /* font-size: 400; */
    font-style: normal;
    font-display: swap;
}



// @font-face {
//     font-family: "Inter";
//     src: url("static/css/ponts/Inter_24pt-Regular.woff2") format("woff2");
//     /* font-size: 400; */
//     font-style: normal;
//     font-display: swap;
// }

.costum-font {
    font-family: "GreatVibes", sans-serif;
}