.cart-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > :last-child {
        margin-top: auto;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 25px;
    margin: 10px 0px;
}

.order-headin {
    text-align: center;
    margin-bottom: 20px;
}