//Colors
$primary-color: #2c2c2c;
$grey-color: #9d9a9a;
$background-color: #f6c1d1;
$error-color: rgb(241, 92, 92);

//Text size
$font-size-header: 3rem;
$font-size-auxiliary-headers: 1.5rem;
$font-size-base: 17px;