/*Нормализация блочно модели для удобной формулы расчёта элементв (чтобы padding and birder были в расчёте общего размера*/

*,
*::before,
*::after {
    box-sizing: border-box;
}



/* Убираем отступы слева в элементах, где они есть ul ol*/

:where(ul, ol):where([class]) {
    padding-left: 0;
}



/* Убираем внешние отступы от margine у тега body, figure, blockquote, т.к. у них есть внешние отступы*/

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}



/* Убраем вертикальные отступы заголовкам, параграфам тегам списка */

:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}



/* бираем отступ слева у тега dd (тег описания определения) */

:where(dd[class]) {
    margin-left: 0;
}



/* Убираем стандартный маркер у тега ul, у которого есть атрибут class */

:where(ul[class]) {
    list-style: none;
}



/* Упрощаем работу с изображениями. Обёртка без белого фона, display: block и max-width:100% чтобы предотвратить появление горизонтального скролла.
*/

img {
    display: block;
    max-width: 100%;
}


/* Наследование шрифта (т.к. автоматически не неследуется у них) дле тегов input, textarea, select, button */

input,
textarea,
select,
button {
    font: inherit;
}

/* Нормализация высоты в 100% в теге html для прижатия footer + плавный скролл через scroll-bahevior для якорных ссылок  */



html {
    height: 100%;
    scroll-behavior: smooth;
}



/* Для тега body добавляем свойство минимальная высота 100% - это необходимо для работоспособности логики прижимания футера к нижней части экрана.

И унифицируем межстрочный интервал через свойство line-height до значения 1.5.

По умолчанию данный интервал 1.2 из-за чего некоторые шрифты могут выглядеть слипшимися.  */

body {
    min-height: 100%;
    line-height: 1.5;
}




/* Отключаем анимацию и переходы для людей, у которых в браузере выставлены принудительные настройки не хочу видеть анимации */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}